In [17]:
import pandas as pd
#Read in 16 datasets of json from fox
BK1 = pd.read_json("data/Burgerking0.json")

BK2 = pd.read_json("data/Burgerking1.json")
BK3 = pd.read_json("data/Burgerking2.json")
BK4 = pd.read_json("data/Burgerking3.json")
BK5 = pd.read_json("data/Burgerking4.json")
BK6 = pd.read_json("data/Burgerking5.json")
BK7 = pd.read_json("data/Burgerking6.json")
BK8 = pd.read_json("data/Burgerking7.json")
BK9 = pd.read_json("data/Burgerking8.json")
BK10 = pd.read_json("data/Burgerking9.json")
BK11 = pd.read_json("data/Burgerking10.json")
BK12 = pd.read_json("data/Burgerking11.json")
BK13 = pd.read_json("data/Burgerking12.json")
BK14 = pd.read_json("data/Burgerking13.json")
BK15 = pd.read_json("data/Burgerking14.json")
BK16 = pd.read_json("data/Burgerking15.json")
bk_map_reduced = pd.concat([BK1,BK2,BK3,BK4,BK5,BK6,BK7,BK8,BK9,BK10,BK11,BK12,BK13,BK14,BK15,BK16], ignore_index=True)
bk = bk_map_reduced[["text"]]
#bk.head()

In [3]:
import pandas as pd
#Read in 16 datasets of json from fox
CC1 = pd.read_json("data/cariboucoffee0.json")

CC2 = pd.read_json("data/cariboucoffee1.json")
CC3 = pd.read_json("data/cariboucoffee2.json")
CC4 = pd.read_json("data/cariboucoffee3.json")
CC5 = pd.read_json("data/cariboucoffee4.json")
CC6 = pd.read_json("data/cariboucoffee5.json")
CC7 = pd.read_json("data/cariboucoffee6.json")
CC8 = pd.read_json("data/cariboucoffee7.json")
CC9 = pd.read_json("data/cariboucoffee8.json")
CC10 = pd.read_json("data/cariboucoffee9.json")
CC11 = pd.read_json("data/cariboucoffee10.json")
CC12 = pd.read_json("data/cariboucoffee11.json")
CC13 = pd.read_json("data/cariboucoffee12.json")
CC14 = pd.read_json("data/cariboucoffee13.json")
CC15 = pd.read_json("data/cariboucoffee14.json")
CC16 = pd.read_json("data/cariboucoffee15.json")
CC_map_reduced = pd.concat([CC1,CC2,CC3,CC4,CC5,CC6,CC7,CC8,CC9,CC10,CC11,CC12,CC13,CC14,CC15,CC16], ignore_index=True)
CC = CC_map_reduced[["text"]]
CC.head()

                                                text
0  Fresh coffee. Fresh bagels. Happy you!\n\n@Ein...
1  @bwo2312 Thank you for sharing! We love to hea...
2  @prettygirlalxx We appreciate the drive thru s...
3                @MichelleHobbsMN Glad you love it!!
4  @MaddieAnn13 Wow! What an experience to witnes...

In [20]:
BK1 = pd.read_csv("kj.csv")
BK1.head()

                                                             rank text
0 RT @WhyHimMovie: May the best man win. See @Jam... NaN NaN  NaN  NaN
  RT @abramskids: The new @wimpykid balloon takin... NaN NaN  NaN  NaN
  RT @JanelleMonae: So grateful to bring #HiddenF... NaN NaN  NaN  NaN
  RT @Macys: The DreamWorks @Trolls arrived just ... NaN NaN  NaN  NaN
  RT @Macys: We hope you‚Äôre loving the #MacysPara... NaN NaN  NaN  NaN

In [5]:
COCO1 = pd.read_json("data/CostaCoffee0.json")

COCO2 = pd.read_json("data/CostaCoffee1.json")
COCO3 = pd.read_json("data/CostaCoffee2.json")
COCO4 = pd.read_json("data/CostaCoffee3.json")
COCO5 = pd.read_json("data/CostaCoffee4.json")
COCO6 = pd.read_json("data/CostaCoffee5.json")
COCO7 = pd.read_json("data/CostaCoffee6.json")
COCO8 = pd.read_json("data/CostaCoffee7.json")
COCO9 = pd.read_json("data/CostaCoffee8.json")
COCO10 = pd.read_json("data/CostaCoffee9.json")
COCO11 = pd.read_json("data/CostaCoffee10.json")
COCO12 = pd.read_json("data/CostaCoffee11.json")
COCO13 = pd.read_json("data/CostaCoffee12.json")
COCO14 = pd.read_json("data/CostaCoffee13.json")
COCO15 = pd.read_json("data/CostaCoffee14.json")
COCO16 = pd.read_json("data/CostaCoffee15.json")
COCO_map_reduced = pd.concat([COCO1,COCO2,COCO3,COCO4,COCO5,COCO6,COCO7,COCO8,COCO9,COCO10,COCO11,COCO12,COCO13,COCO14,COCO15,COCO16], ignore_index=True)
COCO = COCO_map_reduced[["text"]]
COCO.head()

                                                text
0  Ready for some chocolate bliss? (There's only ...
1  @Jdrt4 Thanks Brian! I'll make sure the team g...
2  @timsteele71 This is really lovely to hear Tim...
3  @Plumbob95 Glad to hear it warmed you up Shan ...
4     @mimi_kookie We do! Go and grab one! - Charlee

In [6]:
TH1 = pd.read_json("data/TimHortons0.json")

TH2 = pd.read_json("data/TimHortons1.json")
TH3 = pd.read_json("data/TimHortons2.json")
TH4 = pd.read_json("data/TimHortons3.json")
TH5 = pd.read_json("data/TimHortons4.json")
TH6 = pd.read_json("data/TimHortons5.json")
TH7 = pd.read_json("data/TimHortons6.json")
TH8 = pd.read_json("data/TimHortons7.json")
TH9 = pd.read_json("data/TimHortons8.json")
TH10 = pd.read_json("data/TimHortons9.json")
TH11 = pd.read_json("data/TimHortons10.json")
TH12 = pd.read_json("data/TimHortons11.json")
TH13 = pd.read_json("data/TimHortons12.json")
TH14 = pd.read_json("data/TimHortons13.json")
TH15 = pd.read_json("data/TimHortons14.json")
TH16 = pd.read_json("data/TimHortons15.json")
TH_map_reduced = pd.concat([TH1,TH2,TH3,TH4,TH5,TH6,TH7,TH8,TH9,TH10,TH11,TH12,TH13,TH14,TH15,TH16], ignore_index=True)
TH = TH_map_reduced[["text"]]
TH.head()

                                                text
0  Office coffee run? Pre-order and pick up with ...
1  @adamdiamond_ We're sorry to hear this, Adam. ...
2  RT @thewordsofb: Coffee üíô @TimHortons https://...
3      @thewordsofb Twinese!! üòç‚ù§Ô∏è What's in the cup?
4  @jadetrxdeau We're always here for you!üòç‚ù§Ô∏è #Wa...

In [8]:
Sbucks1 = pd.read_json("data/Starbucks0.json")

Sbucks2 = pd.read_json("data/Starbucks1.json")
Sbucks3 = pd.read_json("data/Starbucks2.json")
Sbucks4 = pd.read_json("data/Starbucks3.json")
Sbucks5 = pd.read_json("data/Starbucks4.json")
Sbucks6 = pd.read_json("data/Starbucks5.json")
Sbucks7 = pd.read_json("data/Starbucks6.json")
Sbucks8 = pd.read_json("data/Starbucks7.json")
Sbucks9 = pd.read_json("data/Starbucks8.json")
Sbucks10 = pd.read_json("data/Starbucks9.json")
Sbucks11 = pd.read_json("data/Starbucks10.json")
Sbucks12 = pd.read_json("data/Starbucks11.json")
Sbucks13 = pd.read_json("data/Starbucks12.json")
Sbucks14 = pd.read_json("data/Starbucks13.json")
Sbucks15 = pd.read_json("data/Starbucks14.json")
Sbucks16 = pd.read_json("data/Starbucks15.json")
Sbucks_map_reduced = pd.concat([Sbucks1,Sbucks2,Sbucks3,Sbucks4,Sbucks5,Sbucks6,Sbucks7,Sbucks8,Sbucks9,Sbucks10,Sbucks11,Sbucks12,Sbucks13,Sbucks14,Sbucks15,Sbucks16], ignore_index=True)
Sbucks = Sbucks_map_reduced[["text"]]
Sbucks.head()

                                                text
0  Who makes your world a little brighter? #GiveG...
1  @mkuntz0872 Unfortunately we no longer offer s...
2  @nellyann76 It's all yours! You can order it n...
3  @chanelsarianas That sounds amazing! Thanks fo...
4  @mikeholliday1 We hope it was just the cozy eg...

In [11]:
Mcds1 = pd.read_json("data/McDonalds0.json")

Mcds2 = pd.read_json("data/McDonalds1.json")
Mcds3 = pd.read_json("data/McDonalds2.json")
Mcds4 = pd.read_json("data/McDonalds3.json")
Mcds5 = pd.read_json("data/McDonalds4.json")
Mcds6 = pd.read_json("data/McDonalds5.json")
Mcds7 = pd.read_json("data/McDonalds6.json")
Mcds_map_reduced = pd.concat([Mcds1,Mcds2,Mcds3,Mcds4,Mcds5,Mcds6,Mcds7], ignore_index=True)
Mcds = Mcds_map_reduced[["text"]]
Mcds.head()

                                                text
0  Bonus fries in the bag. #Happiest5WordSentence...
1  @taylor_lars7 We understand how you feel, Tayl...
2          @that_girl_macy They're so good, right?!?
3  @N0_lOVE_AllOWED Sounds like you made the righ...
4  @captweedwhacker Hi, Donald! We switched to a ...

In [13]:

DD1 = pd.read_json("data/DunkinDonuts0.json")

DD2 = pd.read_json("data/DunkinDonuts1.json")
DD3 = pd.read_json("data/DunkinDonuts2.json")
DD4 = pd.read_json("data/DunkinDonuts3.json")
DD5 = pd.read_json("data/DunkinDonuts4.json")
DD6 = pd.read_json("data/DunkinDonuts5.json")
DD7 = pd.read_json("data/DunkinDonuts6.json")
DD8 = pd.read_json("data/DunkinDonuts7.json")
DD9 = pd.read_json("data/DunkinDonuts8.json")
DD10 = pd.read_json("data/DunkinDonuts9.json")
DD11 = pd.read_json("data/DunkinDonuts10.json")
DD12 = pd.read_json("data/DunkinDonuts11.json")
DD13 = pd.read_json("data/DunkinDonuts12.json")
DD14 = pd.read_json("data/DunkinDonuts13.json")
DD15 = pd.read_json("data/DunkinDonuts14.json")
DD16 = pd.read_json("data/DunkinDonuts15.json")
DD_map_reduced = pd.concat([DD1,DD2,DD3,DD4,DD5,DD6,DD7,DD8,DD9,DD10,DD11,DD12,DD13,DD14,DD15,DD16], ignore_index=True)
DD = DD_map_reduced[["text"]]
DD.head()

                                                text
0  A ring fit for royalty üíç #royalengagement http...
1  @DarcyHairPotion Please send us a direct messa...
2  @DarcyHairPotion Sry to see this! Plz DM us so...
3  @brmathews Hi Bryan! Please DM us so we can he...
4  @staceface393 Sorry to hear this! Please DM us...

In [15]:
anti = pd.concat([DD,Mcds,TH,COCO,CC,bk])
#anti.head()
anti.shape

(16665, 1)

In [16]:
filename = 'starbucks.csv'
Sbucks.to_csv(filename, index=False, header=False, encoding='utf-8')

filename1 = 'other.csv'
anti.to_csv(filename1, index=False, header=False, encoding='utf-8')